@import url('./fonts/fonts.scss');
body {
    font-family: ArvoBold;

    #app {
        .screen-container {
            margin: 0;
            text-align: center;
            height: 65vh;
            
        }
        .errors {
            color: red
        }
        .success{ 
            color: green;
        }
        .button-group {
            display: flex;
            flex-direction: column;
        }
        .social-auth-buttons {
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 768px;
            margin: 10px auto;
            .social-icon-small {
                width: 48px;
                height: 7vh;
                display: flex;
                margin: 0 10px;
            }
        }
        .auth-container {
            margin: 0 auto;
            height: 93vh;;
            display: flex;
            flex-direction: column;
            .input-fields{
                margin: 20px 0;
            }
        }
        .login-page {
            display: flex;
            flex-direction: column;
        }
        .forget-link {
            color: #ffffff;
            display: block;
            text-align: center;
            margin-top: 20px;
        }
        .bottom-links{
            display: flex;
            padding-bottom: 10px;
            max-width: 768px;
            margin: 0 auto;
            .link {
                display: flex;
                background-image: linear-gradient(#3478BB, #0D355D);
                padding: 10px;
                border-radius: 5px;
                color: #ffffff;
                justify-content: center;
                align-items: center;
                flex: 1 ;
                font-size: 1.5vh;
            }
            
        }
        ul.list.a{
         li:before {
            content: '✓';
            color: #43a8ff;
          }
        }
        .list {
            color: #ffffff;
            list-style: none;
            padding-left: 0;
            li {
                margin: 12px 0;
                text-align: center;
                font-size: 2vh;
            }
        }
        img.screens {
            height: 65vh;
        }
        button.Button-bu5znq-0.SignupPage__StyledButton-sc-1jwg4oa-0.VHZea {
            margin-top: 20px;
        }
        .input-field {
            margin: 20px 0;
        }

        .SignUpBtn{
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            padding-bottom: 10px;
        }
        .LSboI{
            font-size: 1em;
        }
       
    }
}