@import url('./fonts/fonts.scss');
body {
    font-family: ArvoBold;

    #app {
        .overflow-scrolling {
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
        .screen-container {
            margin: 0;
            text-align: center;
            height: 65vh;
            
        }
        .errors {
            color: red
        }
        .success{ 
            color: green;
        }
        .button-group {
            display: flex;
            flex-direction: column;
        }
        .social-auth-buttons {
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 768px;
            margin: 10px auto;
            .social-icon-small {
                width: 48px;
                height: 5.5vh;
                display: flex;
                margin: 0 10px;
            }
        }
        .auth-container {
            margin: 0 auto;
            height: 93vh;;
            display: flex;
            flex-direction: column;
            .input-fields{
                margin: 20px 0;
            }
        }
        .login-page {
            display: flex;
            flex-direction: column;
        }
        .forget-link {
            color: #ffffff;
            display: block;
            text-align: center;
            margin-top: 20px;
        }
        .bottom-links{
            display: flex;
            padding-bottom: 10px;
            max-width: 768px;
            margin: 0 auto;
            .link {
                display: flex;
                background-image: linear-gradient(#3478BB, #0D355D);
                padding: 10px;
                border-radius: 5px;
                color: #ffffff;
                justify-content: center;
                align-items: center;
                flex: 1 ;
                font-size: 1.5vh;
            }
            
        }
        ul.list.a{
         li:before {
            content: '✓';
            color: #43a8ff;
          }
        }
        .list {
            color: #ffffff;
            list-style: none;
            padding-left: 4px;
            li {
                margin: 12px 0;
                text-align: center;
                font-size: 2vh;
            }
        }
        img.screens {
            height: 65vh;
        }
        .VHZea {
            margin-top: 20px;
        }
        .input-field {
            margin: 20px 0;
        }

        .SignUpBtn{
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            padding-bottom: 10px;
        }
        .LSboI{
            font-size: 1em;
        }
        .hYkAJu {
            width: 30px;
            height: 28px;
            margin: 0px 3px;
            display: block;
        }
        .jhKKPZ {
            height: auto;
        }
        .kidhFd {
            font-size: 2.3vh;
        }
        .overflow-scrolling {
            background: radial-gradient(circle, rgba(45,37,37,1) 0%, rgba(0,0,0,1) 69%);
        }
        #nav {
            // position: absolute;
            left: 0px;
            height: 40px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        #nav ul {
            margin: 0;
            padding: 0;
            list-style: none;

        }
        #nav ul li {
            margin: 0;
            padding: 0;
            float:left;
        }
        #nav ul li a {
            text-decoration: none;
            padding: 0px 6px;
            display: block;
            color: #FFF;
            text-align: center;
            font-size: 2.5vh;
        }
        .cnt {
            background-color: black;
            height: 100%;
        }
       .RbOlM {
            padding: 0;
        }
    }
}