@import url('./fonts/fonts.scss');
body {
    font-family: ArvoBold;
    #app {
        .screen-container {
            margin: 0;
            text-align: center;
            
        }
        .errors {
            color: red
        }
        .success{ 
            color: green;
        }
        .button-group {
            display: flex;
            flex-direction: column;
        }
        .social-auth-buttons {
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
            .social-icon-small {
                width: 40px;
                height: 40px;
                display: flex;
                margin: 0 10px;
            }
        }
        .auth-container {
            margin: 0 auto;
            height: 100vh;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            .input-fields{
                margin: 20px 0;
            }
        }
        .login-page {
            display: flex;
            flex-direction: column;
        }
        .forget-link {
            color: #ffffff;
            display: block;
            text-align: center;
            margin-top: 20px;
        }
        .bottom-links{
            display: flex;
            .link {
                display: flex;
                background-color: #2d6da9;
                padding: 10px;
                border-radius: 5px;
                color: #ffffff;
                justify-content: center;
                align-items: center;
                flex: 1
            }
        }
        .list {
            color: #ffffff;
            list-style: none;
            li {
                margin: 10px 0;
                text-align: center;
                font-size: 14px;
            }
        }
    }
}